
<div>
    
    <form [formGroup]="todos">
        <input type="text" formControlName="title">
        <button (click)='postTodoEc2(todos)'>Create Todo</button>
       
    </form>
</div>
<div class="container-fluid"> 
    <form [formGroup]="itemId">
        <br>
        <input type="text" formControlName="id" placeholder="Enter ToDo Id" >
        <button (click)='getTodoEc2ById(itemId)'>Get a Todo by Id </button>
    </form>
</div>

<div class="container-fluid"> 
    <form [formGroup]="itemId">
        <br>
        <input type="text" formControlName="id" placeholder="Enter ToDo Id" >
        <button (click)='deleteTodoEc2ById(itemId)'>Delete a Todo by Id </button>
    </form>
</div>

<div class="container-fluid"> 
    <form [formGroup]="itemId">
        <br>
        <input type="text" formControlName="id" placeholder="Enter ToDo Id" >
        <button (click)='completeTodoEc2ById(itemId)'>Complete a Todo by Id </button>
    </form>
</div>

<div>
    
    <form [formGroup]="todoWithId">
        <br>
        <input type="text" formControlName="title" placeholder="Enter Updated ToDo">
        <input type="text" formControlName="id" placeholder="Enter ToDo Id"> 
        <button (click)='putTodoEc2(todoWithId)'>Update Todo</button>
       
    </form>
</div>
