<div class="card w-75">
    <div class="card-body">
      <form [formGroup]="todoWithId">
            <h5 class="card-title" formControlName="id">Task #{{currentId}}</h5>   <!-- Put the Task Id Here ("Task #" + id) -->
            <form [formGroup]="todos">
                <input class="card-text" [(ngModel)]="currentTitle" type="text" formControlName="title">
            </form>
        <p class="card-created">Created On: {{currentCreateDate}}</p> <!-- Put the Date here -->
        <p class="card-status">Completed: {{currentStatus? 'Yes': 'No'}}</p> <!-- Put the Status Here (title) -->
      </form>
      <!-- <a [routerLink]="['/specifictask', currentId]" class="btn btn-primary" button (click)='putTodoEc22(currentId, currentTitle, currentCreateDate, currentStatus)'>Update</a> -->
      <a routerLink="/taskupdated" class="btn btn-primary" button (click)='putTodoEc22(currentId, currentTitle, currentCreateDate, currentStatus)'>Update</a>
      <!-- <a [routerLink]="['/specifictask', currentId]" class="btn btn-primary" button (click)='completeTodoEc2ById(currentId)'>Mark Complete</a>  -->
      <a routerLink="/markedcomplete" class="btn btn-primary" button (click)='completeTodoEc2ById(currentId)'>Mark Complete</a>
      <a routerLink="/taskdeleted" class="btn btn-primary" button (click)='deleteTodoEc2ById(currentId)'>Delete</a>
    </div>
</div>

